/* You can add global styles to this file, and also import other style files */
body {
    background : linear-gradient(45deg, #b6babe, #060681); 
    margin     : 0;
    box-sizing : border-box;
    font-family: sans-serif;
}

app-root {
    height     : 100vh;
    display: block;
}